<h1>Departments</h1>
<hr>
<p>Here is a list of the departments</p>
<% @types.each do |type| %>
 <h2><%= link_to type.name, type %></h2>
 <%= link_to "Items", type_items_path(type) %>
 
 <h4><%= link_to 'Edit', edit_type_path(type) %>
 <%= link_to 'Delete', type, method: :delete %></h4>
 <% end %>
 <hr>
 <h3>Add a New Department</h3>
 <%= link_to "New Department", new_type_path %>

 
 