<h1><%= @type.name %></h1>
<hr>
<h2>Items</h2>
<hr>
<p>Here is a list of the Items in the Department.</p>
<% @items.each do |item| %>
 <h2><%= link_to item.name, [@type, item] %></h2>
 <h4><%= link_to 'Edit', edit_type_item_path(@type, item) %>
 <%= link_to 'Delete', [@type, item], method: :delete %></h4>
 <% end %>
 <hr>
 <h3>Add a New Item</h3>
 <%= link_to "New Item", new_type_item_path %>
 <h4><%= link_to "Back", types_path %></h4>
 
